@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), system-ui, sans-serif;
  --font-mono: var(--font-inter), system-ui, sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
}

.bg-main {
  background: linear-gradient(135deg, #050b16, #146C82, #34C1E3);

}

.text.grey {
  color: #6E7175
}

.text.blue {
  color: #6E7175
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}